Repository uprm-inso4101-2025-2026-s1/semester-project-pronunciation-coach, pull requests merged in 2025-09, with the labels that each got.

#73 User adaptation UI&personalization logic
  app/android/app/src/main/AndroidManifest.xml
  app/lib/main.dart
  app/lib/pace selector/pace_selector.dart
  app/lib/screens/dashboard/user_progress_dashboard.dart
  app/pubspec.lock
  app/pubspec.yaml
Labels: Team 3, state: waiting for team lead, state: waiting for manager

#69 Issues #64 completed and Issue #55 alomost done
  .dart_tool/package_config.json
  .dart_tool/package_graph.json
  .dart_tool/version
  .idea/.gitignore
  .idea/caches/deviceStreaming.xml
  .idea/libraries/Dart_Packages.xml
  .idea/libraries/Dart_SDK.xml
  .idea/libraries/Flutter_Plugins.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/semester-project-pronunciation-coach.iml
  .idea/vcs.xml
  README.md
  app/.gitignore
  app/README.md
  app/lib/core/constants/colors.dart
  app/lib/core/constants/text_styles.dart
  app/lib/features/dashboard/models/activity.dart
  app/lib/features/dashboard/models/course_progress.dart
  app/lib/features/dashboard/pages/user_progress_dashboard.dart
  app/lib/features/dashboard/widgets/completion_rate_display.dart
  app/lib/features/dashboard/widgets/daily_challenge.dart
  app/lib/features/dashboard/widgets/progress_visualization_widget.dart
  app/lib/features/dashboard/widgets/recent_activity_timeline.dart
  app/lib/main.dart
  app/pubspec.lock
  app/pubspec.yaml
  app/test/widget_test.dart
Labels: Team 1, task: development, state: waiting for team lead, state: needs fix, state: in progress

#105 Team 1 Documentation Milestone 1
  Documentation/Team1documentation.adoc
Labels: documentation, Team 1
